* {
  box-sizing: border-box;
}
/*------------------BODY-----------------------*/
body {
  margin: 0;
  padding: 0;
  background-image: url("../images/fondo2.jpg");
  font-family: Arial, sans-serif;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; /* Evita que el fondo se repita */
  background-attachment: fixed; /* Hace que el fondo se mantenga fijo al desplazar la página */
  color: white; /* Esto cambiará el color del texto a blanco */
}
body::-webkit-scrollbar {
  width: 5px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: rgb(0, 0, 0);        /* color of the tracking area */
  box-shadow: inset 0 0 5px grey;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(104, 97, 167);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
 
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/*-------------------IMGEN---------------------*/
.contenedor-main {
  position: relative; /* Establece la posición relativa para que los iconos se posicionen dentro de este contenedor */
  padding: 0;
}
.contenedor{
  margin: auto;
  text-align: center; /* Centra horizontalmente */
  background-color: #00000098;
  padding-bottom: 8em;
}
.imagen {
  -webkit-mask-image: linear-gradient(to top, transparent, rgb(255, 255, 255)); /* Para compatibilidad con navegadores WebKit */
  mask-image: linear-gradient(to top, transparent, rgb(255, 255, 255)); /* Aplica el degradado */
  max-height: 100%; /* Aseguramos que la imagen no sobrepase el contenedor */
  vertical-align: middle; /* Alinea verticalmente la imagen */
}
.text {
  position: absolute;
  transform: translate( 0%, 0%); /* Centra el texto completamente */
  top: 70vw; /* Ajusta la posición verticalmente al centro */
  left: 0; /* Ajusta la posición horizontalmente al centro */
  right: 0; /* Ajusta la posición horizontalmente al centro */
  font-size: 8vw;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/*------------------BAR-REDES------------------*/
.boton-main {
  display: flex;
  flex-direction: column; /* Cambia la dirección de los bloques a vertical */
  width: 100%;
  padding-top: 2em;
}

.boton {
  display: flex;
  margin: auto; /* Alinea la imagen horizontalmente */
  margin-bottom: 5%;
  align-items: center;
  justify-content: flex-start;
  transition: background-color 0.2s ease;
  border: none; /* Elimina el borde del botón */
  justify-content: center; /* Alinea los elementos a la derecha */
  color: #ffffff;
  text-decoration: none;
  font-family: Arial, sans-serif;
  font-weight: 700;
  font-size: 3vw;
  background-color: rgba(65, 65, 110, 0.466); /* Color de fondo del botón */
  width: 80%;
  height: 5em;
  cursor: pointer;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.300); /* Agrega una sombra por debajo del botón */
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
  overflow: hidden; /* Oculta cualquier texto que sobresalga del botón */
  text-overflow: ellipsis; /* Agrega puntos suspensivos (...) al final del texto que se sale del botón */
}
.boton:hover {
  background-color: #00000050; /* Color de fondo del botón cuando el cursor está sobre él */
}
.boton i{
  color: #ffffff;
  margin-right: 5px;
}
.boton span{
  font-family: Arial, sans-serif;
  font-weight: 700;
}

.icon {
  position:static;
  display: flex;
  width: 4em;
  padding-top: 5em;
  left: 0; /* Ajusta la posición horizontalmente al centro */
  right: 0; /* Ajusta la posición horizontalmente al centro */
  margin: auto; /* Alinea la imagen horizontalmente */
}
/*------------------PARRAFO--------------------*/
@media screen and (min-width: 450px) {
  /* Estilos para pantallas de tamaño medio (tabletas y pantallas de escritorio) */
  .contenedor-main{
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 20%;
    padding-right: 20%;
  }
  .contenedor{
    border-radius: 10vw;
    height: 100%;
    box-shadow: 0px 0px 2px 0.1px rgb(123, 135, 236);
    padding-bottom: 0.1em;

  }
  .imagen{
    border-top-left-radius: 10vw;
    border-top-right-radius: 10vw;
  }
  .text{
    top: 25vw; /* Ajusta la posición verticalmente al centro */
    font-size: 5vw;
  }
.boton {
  position: static;
  margin-bottom: 1em;
  transform: translatey(-160%);
  width: 15em;
  height: 2.5em;
  }
  .icon{
  transform: translatey(-50%);
  width: 7em;
  left: 0; /* Ajusta la posición horizontalmente al centro */
  right: 0; /* Ajusta la posición horizontalmente al centro */
  margin: auto; /* Alinea la imagen horizontalmente */
  padding: 0;
  }
}
