* {
  box-sizing: border-box;
}
/*------------------BODY-----------------------*/
body {
  margin: 0;
  padding: 0;
  
  background-image: url("../images/fondo2.jpg");
  font-family: Arial, sans-serif;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; /* Evita que el fondo se repita */
  background-attachment: fixed; /* Hace que el fondo se mantenga fijo al desplazar la página */
  color: white; /* Esto cambiará el color del texto a blanco */
}
body::-webkit-scrollbar {
  width: 5px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: rgb(0, 0, 0);        /* color of the tracking area */
  box-shadow: inset 0 0 5px grey;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(104, 97, 167);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
 
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/*-------------------IMGEN---------------------*/
.img-icon {
   position: relative; /* Establece la posición relativa para que los iconos se posicionen dentro de este contenedor */
   padding: 10vw;
}
.contenedor-opa{
  border-radius: 10vw;
  background-color: #00000098; 
  box-shadow: 0px 0px 2px 0.1px rgb(123, 135, 236);
  padding-bottom: 40vw;
}
.img-fondo {
  display: block;
  width: 100%;
  top: 0;
  border-radius: 10vw;
  -webkit-mask-image: linear-gradient(to top, transparent, rgb(255, 255, 255)); /* Para compatibilidad con navegadores WebKit */
  mask-image: linear-gradient(to top, transparent, rgb(255, 255, 255)); /* Aplica el degradado */
}
.img-text {
  position: absolute;
  opacity: 80%;
  width: 50%;
  top: 80vw; /* Ajusta la posición verticalmente al centro */
  left: 0; /* Ajusta la posición horizontalmente al centro */
  right: 0; /* Ajusta la posición horizontalmente al centro */
  margin: auto; /* Alinea la imagen horizontalmente */
}
/*------------------BAR-REDES------------------*/
.barra-transparente {
  margin-top: 35vw;
  display: flex;
  flex-direction: column; /* Cambia la dirección de los bloques a vertical */
  width: 100%;
}

.boton {
  margin: auto; /* Alinea la imagen horizontalmente */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transition: background-color 0.5s ease;
  margin-bottom: 6vw;
  border: none; /* Elimina el borde del botón */
  justify-content: center; /* Alinea los elementos a la derecha */
  color: #ffffff;
  text-decoration: none;
  font-family: Arial, sans-serif;
  font-weight: 700;
  font-size: 3vw;
  background-color: rgba(45, 45, 58, 0.466); /* Color de fondo del botón */
  width: 60vw;
  height: 13vw;
  cursor: pointer;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.300); /* Agrega una sombra por debajo del botón */
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
  overflow: hidden; /* Oculta cualquier texto que sobresalga del botón */
  text-overflow: ellipsis; /* Agrega puntos suspensivos (...) al final del texto que se sale del botón */
}
.boton:hover {
  background-color: #00000050; /* Color de fondo del botón cuando el cursor está sobre él */
}
.boton i{
  color: #ffffff;
  margin-right: 5px;
}
.boton span{
  font-family: Arial, sans-serif;
  font-weight: 700;
}

.icon {
  position: absolute;
  width: 15%;
  top: 180vw; /* Ajusta la posición verticalmente al centro */
  left: 0; /* Ajusta la posición horizontalmente al centro */
  right: 0; /* Ajusta la posición horizontalmente al centro */
  margin: auto; /* Alinea la imagen horizontalmente */
}
/*------------------PARRAFO--------------------*/


